################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App Only Version/VocabularyReminder/Data/client_secrets.json
