<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp0BFABD100B4065787B40AA6B05938DF7" Guid="*">
                <File Id="fil1D38723F4A034EDE78B6A3B94EFB99F2" KeyPath="yes" Source="$(var.HarvestPath)\EntityFramework.dll" />
            </Component>
            <Component Id="cmpB8E7B130B6B78399B39307530A3D65B2" Guid="*">
                <File Id="fil55247FAD2E00E96001D9F9C3E501E9FA" KeyPath="yes" Source="$(var.HarvestPath)\EntityFramework.SqlServer.dll" />
            </Component>
            <Component Id="cmp4ACC37C5E01C3EA721B74F7581966056" Guid="*">
                <File Id="filD8C5E9EE80CDF68F218BEF81A75D5859" KeyPath="yes" Source="$(var.HarvestPath)\Flurl.dll" />
            </Component>
            <Component Id="cmp15CEBF747D40B4B25D0852CE9EEF1383" Guid="*">
                <File Id="fil8692C18C68985F93FB32D0F8C1392B42" KeyPath="yes" Source="$(var.HarvestPath)\Flurl.Http.dll" />
            </Component>
            <Component Id="cmp2492F8812656C41FBFF2D40F780A23CB" Guid="*">
                <File Id="fil19A77F63391DC62845DCE8286DF14BD0" KeyPath="yes" Source="$(var.HarvestPath)\Flurl.Http.pdb" />
            </Component>
            <Component Id="cmpF9C3C8165176B7137C62A0BFC9D5576B" Guid="*">
                <File Id="filBAEBDD298D44EC9A6E8B2541179F1E41" KeyPath="yes" Source="$(var.HarvestPath)\Flurl.pdb" />
            </Component>
            <Component Id="cmp3464F8730E573D338954EC7195CFB4A4" Guid="*">
                <File Id="fil73F07CE42A5EF653313AD307E0E68BDC" KeyPath="yes" Source="$(var.HarvestPath)\HtmlAgilityPack.dll" />
            </Component>
            <Component Id="cmp667CB89A1E43303706D5205D8E0E018B" Guid="*">
                <File Id="fil06CC2F39CCEE24EF8EEA281FA58DF9BF" KeyPath="yes" Source="$(var.HarvestPath)\HtmlAgilityPack.pdb" />
            </Component>
            <Component Id="cmpF79A41B26948F126556619AD15586E53" Guid="*">
                <File Id="filD65CB2C411B671E247C0C842FF9ED3FA" KeyPath="yes" Source="$(var.HarvestPath)\MaterialDesignColors.dll" />
            </Component>
            <Component Id="cmpBA69CF71075E6968218400B9F29844B5" Guid="*">
                <File Id="fil5172DC83FB1D00BEBE5AC6D108D92FC9" KeyPath="yes" Source="$(var.HarvestPath)\MaterialDesignColors.pdb" />
            </Component>
            <Component Id="cmp6D59DB1C8695088F09FD7F0B07ECD487" Guid="*">
                <File Id="fil13620EBEA6F6420A02C733F8682CD641" KeyPath="yes" Source="$(var.HarvestPath)\MaterialDesignThemes.Wpf.dll" />
            </Component>
            <Component Id="cmpFA79922E3C67570896B863651A61DA4C" Guid="*">
                <File Id="filB20099EC5073B1438BB86D3B5C19B317" KeyPath="yes" Source="$(var.HarvestPath)\MaterialDesignThemes.Wpf.pdb" />
            </Component>
            <Component Id="cmp20E5A82EE1F53BB560782568696E50EF" Guid="*">
                <File Id="fil2E537F5E44EFF72FBE1AF325D6F073A2" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Bcl.AsyncInterfaces.dll" />
            </Component>
            <Component Id="cmpB14CC8B154928EA6225F174BDE107F6B" Guid="*">
                <File Id="filB459F36ECC4A67FE3864BCBC2F0D640D" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Data.Sqlite.dll" />
            </Component>
            <Component Id="cmp198468A4AE980CD6955CB6EB86083726" Guid="*">
                <File Id="fil02E4E4D119BFC4831CEA5A71F1288443" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmp493E9BC44885B6BC5C57BDB1302C40D9" Guid="*">
                <File Id="filA40291A4FBD4719B6995DEB783A39A65" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmpC656E9D9806FE126507981A789C77410" Guid="*">
                <File Id="fil0BFEDC0364DF675C2291A58519F94A92" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.Http.dll" />
            </Component>
            <Component Id="cmp8C674FD6A69988A60A77A4CEE0F53781" Guid="*">
                <File Id="fil72342637E9F74EE945317D4603CEBA2F" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmp835034F744990576E31C2DBC7C9293BF" Guid="*">
                <File Id="fil71DD299EE7649E964200A4127797D1C0" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmp3279C150AE8DF554FD7EEE2085672A2B" Guid="*">
                <File Id="filA8D1F5D61FD7BC25099F707CBF5B1F24" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmp946145B53A7DCDFA822B0EFD2314FAB6" Guid="*">
                <File Id="fil773F29942324AAB2A7E1977E1AC63609" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmpDF2A173873CB2DF4B359397F026B691C" Guid="*">
                <File Id="filF77BADE6C443F07005CCC8598C0BF253" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Toolkit.Uwp.Notifications.dll" />
            </Component>
            <Component Id="cmpF4E298CFF730F398D2990C582E79A49E" Guid="*">
                <File Id="fil57A97586B2887B74AF2D2C750F465FCD" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Toolkit.Uwp.Notifications.pdb" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="*">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.HarvestPath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmpCD74C9744A7101C361A86DF4A2940A5D" Guid="*">
                <File Id="filA68BDC31667EE91FE192D2531680340E" KeyPath="yes" Source="$(var.HarvestPath)\QueryString.NETCore.dll" />
            </Component>
            <Component Id="cmpE6F0D2903C0756D9B36C6E82015C4119" Guid="*">
                <File Id="fil6CD1546B188090E95877A0863E639376" KeyPath="yes" Source="$(var.HarvestPath)\QueryString.NETCore.pdb" />
            </Component>
            <Component Id="cmp64C05AA1C43E0D9DBAD9C14A66C00F23" Guid="*">
                <File Id="fil5AAF8D55B9964F995719180C0C280633" KeyPath="yes" Source="$(var.HarvestPath)\SQLitePCLRaw.batteries_v2.dll" />
            </Component>
            <Component Id="cmp9E349E891D154ADBFB83038532027A46" Guid="*">
                <File Id="fil64FA3FA0141690B101C8E041EB30B810" KeyPath="yes" Source="$(var.HarvestPath)\SQLitePCLRaw.core.dll" />
            </Component>
            <Component Id="cmp961D128A9682D71425BAB40ED679C423" Guid="*">
                <File Id="fil83F1FA61EE4F339542EAF58CAB277A6E" KeyPath="yes" Source="$(var.HarvestPath)\SQLitePCLRaw.nativelibrary.dll" />
            </Component>
            <Component Id="cmpF2AD36504B5E65FCDEC25250DEEE1F52" Guid="*">
                <File Id="filAAAC5954FA0F471D95A936E56F8E4EB9" KeyPath="yes" Source="$(var.HarvestPath)\SQLitePCLRaw.provider.dynamic_cdecl.dll" />
            </Component>
            <Component Id="cmpA748C45814948C0E47F0962CF5A9E2C5" Guid="*">
                <File Id="filAF63FF48A59E0E5E7F49BFD1CBBB0CC3" KeyPath="yes" Source="$(var.HarvestPath)\System.Buffers.dll" />
            </Component>
            <Component Id="cmp89F5F904B3CAF843A281A5A84D668E1E" Guid="*">
                <File Id="fil7882FAF25832DB256D31EEFC7582E0FF" KeyPath="yes" Source="$(var.HarvestPath)\System.Configuration.ConfigurationManager.dll" />
            </Component>
            <Component Id="cmpE722E076AB8486E4A4F24B01268787A2" Guid="*">
                <File Id="fil92FE767CE7126933F4E9DEEEBAAE9354" KeyPath="yes" Source="$(var.HarvestPath)\System.Diagnostics.DiagnosticSource.dll" />
            </Component>
            <Component Id="cmp642ED5B0D0BD1F16347D1310992C55A0" Guid="*">
                <File Id="filFA1D7EC932018D1CCB80F9F43D328009" KeyPath="yes" Source="$(var.HarvestPath)\System.Memory.dll" />
            </Component>
            <Component Id="cmp6FD941A56CFB6288079AD725FC4C6CC9" Guid="*">
                <File Id="filF62ABB9A1DBA3DB8EA89A66F6CDF9023" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.Http.Formatting.dll" />
            </Component>
            <Component Id="cmp89AE5ECEB789ECF60BE6CC568D60B2F9" Guid="*">
                <File Id="fil07CC506FCE6F39AF87379627460A5FFB" KeyPath="yes" Source="$(var.HarvestPath)\System.Numerics.Vectors.dll" />
            </Component>
            <Component Id="cmpAFCF21A15F6EDA45A32D147050609285" Guid="*">
                <File Id="filAE286E96EA00902BC284AEBF3030D6E4" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmpA79A142FCEA412B1ABBD7BE954692F65" Guid="*">
                <File Id="fil0B3269E73A503751E3461F1BA6DEB094" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.AccessControl.dll" />
            </Component>
            <Component Id="cmp5CC6136D6E2A90DE115411181360DDDC" Guid="*">
                <File Id="fil207371132F5873BD864FD57447824213" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Permissions.dll" />
            </Component>
            <Component Id="cmp98A131703008D3AC809721FE16EEAFF8" Guid="*">
                <File Id="fil50D3CD433FCD76F25C71E81C31B6DD3A" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Principal.Windows.dll" />
            </Component>
            <Component Id="cmpB3AE432D48BF3A5AB43C6DAF12AB454A" Guid="*">
                <File Id="filF7CF33617C2B93F6EEF50C0DEB533B07" KeyPath="yes" Source="$(var.HarvestPath)\System.Threading.Tasks.Extensions.dll" />
            </Component>
            <Component Id="cmp3A99A623A71A716A198559E0C9D59400" Guid="*">
                <File Id="filE6242AE03AF2509440ADF395C76688A4" KeyPath="yes" Source="$(var.HarvestPath)\System.ValueTuple.dll" />
            </Component>
            <Component Id="cmp8F8A98CA0F7362B864DE62659ED65DBF" Guid="*">
                <File Id="fil8EFCE7EB23975DE141DB1E46AC93F3A9" KeyPath="yes" Source="$(var.HarvestPath)\VocabularyReminder.application" />
            </Component>
            <Component Id="cmpBE7B72292500D61F2B2C1DF047CB8238" Guid="*">
                <File Id="fil8286DE272CC522F02D1E5A7F3FA87F75" KeyPath="yes" Source="$(var.HarvestPath)\VocabularyReminder.exe" />
            </Component>
            <Component Id="cmp882DED714B342BCEBC0724190EB3C170" Guid="*">
                <File Id="filBD2A4BB419F332B2A06141A8F07394C8" KeyPath="yes" Source="$(var.HarvestPath)\VocabularyReminder.exe.config" />
            </Component>
            <Component Id="cmpE11F7E41962322113B1CB49FBB086D48" Guid="*">
                <File Id="fil82BBA267F1BD16D313786706634B0EBD" KeyPath="yes" Source="$(var.HarvestPath)\VocabularyReminder.exe.manifest" />
            </Component>
            <Component Id="cmp82B1860F91D5E337E5C9180C0156A210" Guid="*">
                <File Id="fil664DF2CDE9DB8864FF34BF5DBB126124" KeyPath="yes" Source="$(var.HarvestPath)\VocabularyReminder.pdb" />
            </Component>
            <Directory Id="dir00122602D311392A9D483BE33FE17DEF" Name="app.publish">
                <Component Id="cmpD10B36589ABD2320C066D46115BB753A" Guid="*">
                    <File Id="filF9891104BF35B4C7AF09FD4192433151" KeyPath="yes" Source="$(var.HarvestPath)\app.publish\VocabularyReminder.exe" />
                </Component>
            </Directory>
            <Directory Id="dir8A66300A65ECF7B42463C2AE888E810F" Name="Data">
                <Component Id="cmpD2C2A4FC418E0C66B197C7A76E8A469F" Guid="*">
                    <File Id="filAA47CE18420B36F3ECB9FF7DB86AAD20" KeyPath="yes" Source="$(var.HarvestPath)\Data\3000CommonWords.db" />
                </Component>
            </Directory>
            <Directory Id="dir58E8247E2885C01898CAD009F9EFD8BA" Name="runtimes">
                <Directory Id="dir9FF0F9C1A7463CA0B24689AA89D869B5" Name="win-arm">
                    <Directory Id="dir46754318AAFE7C2D3BBAC065B627290B" Name="native">
                        <Component Id="cmpDF76CDFA0F073AE6CAE38BE68141B800" Guid="*">
                            <File Id="fil20F2F59E480B8E7CFE29DFCE5820F38B" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win-arm\native\e_sqlite3.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirB9C75524282911E40C3C964A8836A714" Name="win-x64">
                    <Directory Id="dir1F9DF9DD2FB29AE2942604FAC206D5C4" Name="native">
                        <Component Id="cmpA9FE95CFE68BB3A9037D1155AED6FAD7" Guid="*">
                            <File Id="fil0B331E0491A1A27C58D92DDCDB266DC2" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win-x64\native\e_sqlite3.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir92F336DAA82E5A629052407A3F87EF27" Name="win-x86">
                    <Directory Id="dir2B43AAE918D399CEF13EC6CBA2D3D5EA" Name="native">
                        <Component Id="cmp33D08136382ADFFC5979284E4701D9C6" Guid="*">
                            <File Id="fil7A70FE8106C6D5315BF2EBA10C487BF2" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win-x86\native\e_sqlite3.dll" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HeatGenerated">
            <ComponentRef Id="cmp0BFABD100B4065787B40AA6B05938DF7" />
            <ComponentRef Id="cmpB8E7B130B6B78399B39307530A3D65B2" />
            <ComponentRef Id="cmp4ACC37C5E01C3EA721B74F7581966056" />
            <ComponentRef Id="cmp15CEBF747D40B4B25D0852CE9EEF1383" />
            <ComponentRef Id="cmp2492F8812656C41FBFF2D40F780A23CB" />
            <ComponentRef Id="cmpF9C3C8165176B7137C62A0BFC9D5576B" />
            <ComponentRef Id="cmp3464F8730E573D338954EC7195CFB4A4" />
            <ComponentRef Id="cmp667CB89A1E43303706D5205D8E0E018B" />
            <ComponentRef Id="cmpF79A41B26948F126556619AD15586E53" />
            <ComponentRef Id="cmpBA69CF71075E6968218400B9F29844B5" />
            <ComponentRef Id="cmp6D59DB1C8695088F09FD7F0B07ECD487" />
            <ComponentRef Id="cmpFA79922E3C67570896B863651A61DA4C" />
            <ComponentRef Id="cmp20E5A82EE1F53BB560782568696E50EF" />
            <ComponentRef Id="cmpB14CC8B154928EA6225F174BDE107F6B" />
            <ComponentRef Id="cmp198468A4AE980CD6955CB6EB86083726" />
            <ComponentRef Id="cmp493E9BC44885B6BC5C57BDB1302C40D9" />
            <ComponentRef Id="cmpC656E9D9806FE126507981A789C77410" />
            <ComponentRef Id="cmp8C674FD6A69988A60A77A4CEE0F53781" />
            <ComponentRef Id="cmp835034F744990576E31C2DBC7C9293BF" />
            <ComponentRef Id="cmp3279C150AE8DF554FD7EEE2085672A2B" />
            <ComponentRef Id="cmp946145B53A7DCDFA822B0EFD2314FAB6" />
            <ComponentRef Id="cmpDF2A173873CB2DF4B359397F026B691C" />
            <ComponentRef Id="cmpF4E298CFF730F398D2990C582E79A49E" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmpCD74C9744A7101C361A86DF4A2940A5D" />
            <ComponentRef Id="cmpE6F0D2903C0756D9B36C6E82015C4119" />
            <ComponentRef Id="cmp64C05AA1C43E0D9DBAD9C14A66C00F23" />
            <ComponentRef Id="cmp9E349E891D154ADBFB83038532027A46" />
            <ComponentRef Id="cmp961D128A9682D71425BAB40ED679C423" />
            <ComponentRef Id="cmpF2AD36504B5E65FCDEC25250DEEE1F52" />
            <ComponentRef Id="cmpA748C45814948C0E47F0962CF5A9E2C5" />
            <ComponentRef Id="cmp89F5F904B3CAF843A281A5A84D668E1E" />
            <ComponentRef Id="cmpE722E076AB8486E4A4F24B01268787A2" />
            <ComponentRef Id="cmp642ED5B0D0BD1F16347D1310992C55A0" />
            <ComponentRef Id="cmp6FD941A56CFB6288079AD725FC4C6CC9" />
            <ComponentRef Id="cmp89AE5ECEB789ECF60BE6CC568D60B2F9" />
            <ComponentRef Id="cmpAFCF21A15F6EDA45A32D147050609285" />
            <ComponentRef Id="cmpA79A142FCEA412B1ABBD7BE954692F65" />
            <ComponentRef Id="cmp5CC6136D6E2A90DE115411181360DDDC" />
            <ComponentRef Id="cmp98A131703008D3AC809721FE16EEAFF8" />
            <ComponentRef Id="cmpB3AE432D48BF3A5AB43C6DAF12AB454A" />
            <ComponentRef Id="cmp3A99A623A71A716A198559E0C9D59400" />
            <ComponentRef Id="cmp8F8A98CA0F7362B864DE62659ED65DBF" />
            <ComponentRef Id="cmpBE7B72292500D61F2B2C1DF047CB8238" />
            <ComponentRef Id="cmp882DED714B342BCEBC0724190EB3C170" />
            <ComponentRef Id="cmpE11F7E41962322113B1CB49FBB086D48" />
            <ComponentRef Id="cmp82B1860F91D5E337E5C9180C0156A210" />
            <ComponentRef Id="cmpD10B36589ABD2320C066D46115BB753A" />
            <ComponentRef Id="cmpD2C2A4FC418E0C66B197C7A76E8A469F" />
            <ComponentRef Id="cmpDF76CDFA0F073AE6CAE38BE68141B800" />
            <ComponentRef Id="cmpA9FE95CFE68BB3A9037D1155AED6FAD7" />
            <ComponentRef Id="cmp33D08136382ADFFC5979284E4701D9C6" />
        </ComponentGroup>
    </Fragment>
</Wix>