# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
packages/
*.nupkg

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Click-Once directory
publish/

# Others
*.Cache
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings

# Project-specific ignores
*.log