<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Vocabulary Reminder" Language="1033" Version="1.3.0.0" Manufacturer="Freelancer HCM Team" UpgradeCode="720004b2-f7a7-4862-a90a-24c249d44a7d">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Vocabulary Reminder" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="HeatGenerated" />
		</Feature>

    <Icon Id="icon.ico" SourceFile="icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Vocabulary Reminder" />
			</Directory>
      <Directory Id="ProgramMenuFolder">
      </Directory>
		</Directory>
	</Fragment>

  <Fragment>
    <DirectoryRef Id="ProgramMenuFolder">
      <Component Id="ApplicationShortcut" Guid="319c166a-ff20-4bc0-babb-ad2b3253b95c">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Vocabulary Reminder" Description="Vocabulary Reminder - Fastest way to learn English vocabulary" Target="[INSTALLFOLDER]VocabularyReminder.exe" WorkingDirectory="INSTALLFOLDER">

          <!--AUMID-->
          <ShortcutProperty Key="System.AppUserModel.ID" Value="FreelancerHCM.VocabularyReminder"/>

          <!--COM CLSID, specifying which CLSID to activate when toast clicked-->
          <ShortcutProperty Key="System.AppUserModel.ToastActivatorCLSID" Value="{3b185435-0bd1-4437-b481-0734438718e0}"/>

        </Shortcut>

        <RemoveFile Id="RemoveApplicationShortcut" Directory="ProgramMenuFolder" Name="Vocabulary Reminder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\FreelancerHCM\VocabularyReminder" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
  
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentRef Id="ApplicationShortcut"/>
		</ComponentGroup>
	</Fragment>
</Wix>
